@import "./container.css";

/***** Header + Footer *****/

header, footer {
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, rgb(225, 134, 193),  rgb(192, 62, 144));
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

li {
    padding: 0 20px;
    transition: all 0.25s ease-in-out;
}

li:hover {
    cursor: pointer;
    background-color: rgb(181, 61, 139);
} 

a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/***** Main *****/

main {
    height: calc(100svh - 120px);
    color: #fff;
    background-color: #cdcdcd;
}

main .container.flex {
    flex-direction: column;
    justify-content: space-around;
}

/***** Banner *****/

.banner.flex {
    flex-direction: column;
    place-items: center;
    gap: 40px;
}

.banner.flex div {
    gap: 20px;
}

.primary, .secondary {
    padding: 6px 10px;
    border-radius: 50px;
    font-weight: 500;
    color: #fff;
    transition: all 0.25s ease-in-out;
} 

.primary {
    border: 2px solid transparent;
    background: linear-gradient(90deg, rgb(225, 134, 193), rgb(192, 62, 144)) padding-box;
}

.secondary {
    background: none;
    border: 2px solid #fff;
}

.primary:hover, .secondary:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.primary:hover {
    background: none;
    border-color: #fff;
}

.secondary:hover {
    border-color: transparent;
    background: linear-gradient(90deg, rgb(225, 134, 193), rgb(192, 62, 144)) padding-box;
}

/***** Gallery *****/

.gallery.flex {
    gap: 20px;
    width: 100%;
}

.gallery.flex img {
    width: 100%;
    max-width: 240px; 
    height: auto;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all 0.25s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}